*~
*.pyc
*.orig
home/.pentadactyl/info
home/bin/mnt_drobo
home/.ncmpcpp/error.log
home/.irssi/irclogs
home/.irssi/sasl.auth
home/.irssi/saved_colors
home/.xmonad/xmonad-x86_64-linux
home/.xmonad/xmonad.errors
home/.xmonad/xmonad.hi
home/.xmonad/xmonad.o
