*~
*.pyc
*.orig
home/.pentadactyl/info
home/bin/mnt_drobo
home/.ncmpcpp/error.log
home/.irssi/irclogs
home/.irssi/sasl.auth
home/.irssi/saved_colors
home/.icons/ROX
home/.gnupg/private-keys-v1.d/
home/.gnupg/pubring.gpg
home/.gnupg/random_seed
home/.gnupg/secring.gpg
home/.gnupg/sshcontrol
home/.gnupg/trustdb.gpg
home/.pyflymakercc
home/.vim/.netrwhist
home/bin/rdesktop_route
home/.mpd/database
home/.mpd/mpd.pid
home/.mpd/mpd.db
home/.mpd/mpd.log
home/.mpd/mpdstate
home/.config/systemd/user/default.target.wants/
