[user]
    name = Thomas Schreiber
    email = tom@insatsu.us
[core]
    excludesfile = /Users/mal4ik/.gitignore
[merge]
    keepBackup = false;
    tool = p4merge
[mergetool "p4merge"]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
[color]
    ui = true
[achievement]
	upload = true
