[user]
    name = Thomas Schreiber
    email = rizumu@users.noreply.github.com
    signingkey = ~/.ssh/id_ed25519.pub

[github]
    user = rizumu

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers

[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
    helper = !/usr/bin/gh auth git-credential

[core]
    editor = emacs --no-window-system --quick
    excludesfile = ~/.gitignore
    filemode = true
    logallrefupdates = true
    whitespace = space-before-tab, trailing-space
    autocrlf = input
    pager = delta

[interactive]
    diffFilter = delta --color-only
    side-by-side = true
    features = unobstrusive-line-numbers decorations

[pager]
    difftool = true

[alias]
    ediff = difftool -t ediff
    wip = !git add -u && git commit -m ...
    wipc = !date >> WIP && git add WIP && git commit -m ...
    stash = stash --all
    pushfwl = push --force-with-lease
    dft = difftool
    dlog = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"

[color]
    ui = auto

[column]
    ui = auto

[init]
    defaultBranch = main

[log]
    date = iso

[color "status"]
    added = yellow
    changed = green bold
    untracked = blue bold

[branch]
    autosetupmerge = true
    sort = --committerdate

[color "branch"]
    current = yellow reverse
    local = yellow bold
    remote = green bold
    plain = red bold

[diff]
    tool = difftastic
    algorithm = histogram
    renames = true
    mnemonicprefix = true
    colorMoved = default

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[color "diff"]
    meta = blue bold
    frag = magenta bold
    old = red bold

[commit]
    verbose = true
    gpgsign = true

[fetch]
    writeCommitGraph = true
    fsckobjects = true
    prune = true
    prunetags = true

[pull]
    rebase = true

[push]
    default = upstream
	autosetupremote = true
    followtags = true

[merge]
    tool = meld
    renamelimit = 10000
    conflictstyle = zdiff3

[mergetool "meld"]
    cmd = meld "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    trustExitCode = false

[rebase]
    autostash = true
    autosquash = true
    updateRefs = true

[transfer]
    fsckobjects = true

[receive]
    fsckobjects = true

[apply]
    whitespace = warn

[rerere]
    enabled = true

[dude]
	icon = ~/.git-dude/github_32.png
