[Unit]
Description=XScreenSaver
Documentation=man:xscreensaver
Documentation=man:xscreensaver-settings
Documentation=https://www.jwz.org/xscreensaver/
After=graphical-session-pre.target
PartOf=graphical-session.target
ConditionUser=!@system

[Service]
ExecStart=/usr/bin/xscreensaver
Restart=on-failure
OOMScoreAdjust=-1000

[Install]
Alias=org.jwz.xscreensaver.service
WantedBy=graphical-session.target
